<div class="account-create mc-sc-photos">
    <div class="page-title">
        <h1>Photos From this Category</h1>
    </div>
    <div class="mc-sc-photos-list">
        <ul>
            <?php
            $baseUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);
            $photosCollection = Mage::getModel('showcase/photos')->getCategoryPhotos();
            if($photosCollection && $photosCollection->count()) {
                foreach ($photosCollection as $photo) {
                    $imgUrl = $baseUrl . Magecart_Constants::SC_PHOTOS_DIR . $photo->getData('photo_file');
                    ?>
                    <li>
                        <a title="<?php echo $photo->getData('title'); ?>" href="<?php echo $imgUrl; ?>" class="fancybox" rel="gallery">
                            <img src="<?php echo $imgUrl; ?>"
                                 alt="<?php echo $photo->getData('title'); ?>"/>
                            <h3><?php echo $photo->getData('title'); ?></h3>
                            <p class="dn"><?php echo $photo->getData('description'); ?></p>
                        </a>
                    </li>
                    <?php
                }
            }
            else{
                ?>
                <h3> No Photos to see</h3>
                <?php
            }
            ?>

        </ul>
        <a href="<?php echo $this->getUrl().'showcase/index/submit'; ?>" class="btn photo-submit">Submit Photos</a>
    </div>
</div>