
<?php
$categories = Mage::helper('showcase')->getProductCategories();
?>
<div class="account-create submit-photos">
    <div class="page-title">
        <h1>Submit a Photo</h1>
    </div>
    <form enctype="multipart/form-data" class="scaffold-form" id="form-validate" method="post"
          action="<?php echo $this->getUrl().'showcase/index/submit'; ?>">
        <div class="fieldset">

            <p class="form-instructions">Please enter the following information to submit your photo.</p>

            <p class="required">* Required Fields</p>
            <ul class="form-list">

                <li>
                    <label class="required" for="email_address"><em>*</em>Select Category</label>

                    <div class="input-box">
                        <select class="input-text required-entry" title="Select Category"
                                value="" id="category_id" name="category_id" >
                            <?php foreach($categories as $category){ if($category->getId() == 1 || $category->getId() == 2) continue; ?>
                            <option value="<?php echo $category->getId(); ?>"><?php echo str_repeat("-", $category->getLevel() - 1)."".$category->getName(); ?></option>
                            <?php } ?>
                        </select>
                    </div>
                </li>
                <li>
                    <label class="required" for="email_address"><em>*</em>Title</label>

                    <div class="input-box">
                        <input type="text" class="input-text required-entry" title="Title"
                               value="" id="title" name="title" spellcheck="false" autocorrect="off"
                               autocapitalize="off">
                    </div>
                </li>

                <li>
                    <label class="required" for="email_address"><em>*</em>Description</label>

                    <div class="input-box">
                        <textarea class="input-text required-entry" title="Description"
                               value="" id="description" name="description" spellcheck="false" autocorrect="off"
                               autocapitalize="off"></textarea>
                    </div>
                </li>
                <li>
                    <label class="required" for="email_address"><em>*</em>Photo(Allowed .jpg,.png,.gif with less 10 MB size)</label>

                    <div class="input-box">
                        <input type="file" class="input-text  required-entry" title="Photo"
                               value="" id="photo_file" name="photo_file" spellcheck="false" autocorrect="off"
                               autocapitalize="off">
                    </div>
                </li>

            </ul>
        </div>
        <div class="buttons-set">
            <p class="back-link">
                <a class="back-link" href="<?php echo $this->getUrl().'showcase'; ?>">
                    <small>«</small>
                    Back
                </a>
            </p>
            <button class="button" title="Submit" type="submit"><span><span>Submit</span></span></button>
        </div>
    </form>
    <script type="text/javascript">
        var dataForm = new VarienForm('form-validate', true);
    </script>
</div>